<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/screen.css">
	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
	<meta charset="UTF-8">
	<title>screen_1</title>
</head>
<body>
	<script>var scr = 1</script>
	<div id="main">
		<div id="next_movie">
			<div>
				<div id="next_movie_title">
					<div style="margin-top: 8px">Ближайшие сеансы:</div>
				</div>
			</div>
			<div>
				<div id="next_movie_title_0">
					<div style="margin-top: 13px; margin-left: 18px; width: 564px; overflow: hidden"></div>
				</div>
				<div id="next_movie_time_0">
					<div style="margin-top: 13px"></div>
				</div>
			</div>
			<div>
				<div id="next_movie_title_1">
					<div style="margin-top: 18px; margin-left: 18px; width: 564px; overflow: hidden"></div>
				</div>
				<div id="next_movie_time_1">
					<div style="margin-top: 18px"></div>
				</div>
			</div>
		</div>
		<div id="serverTime"></div>
		<div id="container"></div>		
	</div>
	<script type="text/javascript" src="js/screen.js"></script>
</body>
</html>